.footer {
   background-color: #141B41;

   &__inner {
      display: flex;
      align-items: center;

      min-height: 100px;
      padding: 5px 0;

      @media (max-width: $max-width-laptop) {
         flex-wrap: wrap;

         padding: 25px 0;
      }
      @media (max-width: $max-width-tablet) {
         flex-direction: column;

         padding: 39px 0 35px;
      }
   }
   &__logo {
      flex-shrink: 0;

      margin-right: 60px;

      @media (max-width: $max-width-laptop) {
         flex-basis: 100%;

         display: inline-block;
         margin-bottom: 25px;
      }
      @media (max-width: $max-width-tablet) {
         margin-right: 0;
      }
   }
   &__menu {
      margin-right: auto;

      @media (max-width: $max-width-tablet) {
         margin-bottom: 25px;
         margin-right: 0;
      }
   }
   &__link {
      flex-shrink: 0;
   }
}
.menu-footer {
   &__items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @media (max-width: $max-width-tablet) {
         flex-direction: column;
      }
   }
   &__item {
      margin-right: 46px;

      @media (max-width: $max-width-tablet) {
         margin-right: 0;
         margin-bottom: 15px;
      }
   }
   &__item a {
      font-weight: 300;
      font-size: 18px;
      line-height: 140%;
      color: #E9ECF5;
   }
}