.header {
   @media (max-width: $burger-screen-width) {
      &--no-js &__inner {
         flex-wrap: wrap;
      }   
      &--no-js &__menu {
         order: 1;
         flex-basis: calc(100% + $container-padding * 2);

         margin-left: -$container-padding;
         margin-right: -$container-padding;
      }
   }

   &--js &__menu {
      @media (max-width: $burger-screen-width) {
         visibility: hidden;

         position: fixed;
         z-index: 1000;
         top: 100px;
         right: 0;
         bottom: 0;
         left: 0;

         overflow: auto;
      }
      @media (max-width: $max-width-mobile) {
         top: 60px;
      }
   }

   &--js-active &__menu {
      // header--js-active

      visibility: visible;
   }

   &__inner {
      display: flex;
      align-items: center;

      min-height: 100px;

      @media (max-width: $max-width-mobile) {
         min-height: 60px;
      }
   }
   &__logo {
      margin-right: 60px;
   }
   &__menu {

   }
   &__burger-icon {
      margin-left: auto;

      // Скрыли на больших разрешениях
      display: none;

      @media (max-width: $burger-screen-width) {
         // Показали на маленьких разрешениях
         display: block;
      }
   }
}
.menu-header {
   @media (max-width: $burger-screen-width) {
      &--no-js {
         box-shadow: 0 15px 15px 0 rgba($color: #000000, $alpha: .1);
      }

      &--js {
         background-color: transparent;
         opacity: 0;
         transition-duration: .2s;
      }
      &--js &__body {
         transform: translateY(-100%);
         transition-duration: .2s;
      }

      &--js-active {
         // menu-header--js-active

         background-color: rgba($color: #000000, $alpha: .6);
         opacity: 1;
      }   
      &--js-active &__body {
         transform: translateY(0%);
      }
   }

   &__body {
      display: flex;
      align-items: center;

      @media (max-width: $burger-screen-width) {
         display: block;
         padding-bottom: 40px;
         @include reset-margin;

         background-color: #ffffff;
      }
   }
   &__items {
      display: flex;
      flex-wrap: wrap;

      &:not(:last-child) {
         border-bottom: 1px solid #E9ECF5;         
      }

      @media (max-width: $burger-screen-width) {
         display: block;
      }
   }
   &__item {
      margin-right: 55px;

      &:last-child {
         margin-right: 0;
      }

      @media (max-width: $max-width-laptop) {
         padding: 30px $container-padding;
         margin-right: 0;

         text-align: center;

         border-top: 1px solid #E9ECF5;
      }
   }
   &__item a {
      font-weight: 300;
      font-size: 18px;
      line-height: 140%;
      color: $font-gray-color;
   }
   // &__link {
   //    flex-shrink: 0;

   //    margin-left: auto;

   //    @media (max-width: $burger-screen-width) {
   //       margin-bottom: 24px;
   //       margin-left: 0;
   //    }
   // }
}
.burger-icon {
   height: 100px;
   width: 100px;

   margin-right: -$container-padding;

   background-color: transparent;
   background-image: url(../images/header/burger-icon.svg);
   background-position: center center;
   background-size: 24px 24px;
   background-repeat: no-repeat;
   border-left: 1px solid #E9ECF5;

   @media (max-width: $max-width-mobile) {
      height: 60px;
      width: 60px;
   }
}