.partner {
   &__inner {
      @include reset-margin;
      @include adaptive-value($property: padding-top, $startSize: 46, $minSize: 30);
      @include adaptive-value($property: padding-bottom, $startSize: 112, $minSize: 35);

      text-align: center;
   }
   &__title {
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 17px;

      @include adaptive-value($property: font-size, $startSize: 32, $minSize: 21);
      text-align: center;
      line-height: 125%;
      color: $font-blue-color;

      @media (max-width: $max-width-mobile) {
         margin-bottom: 23px;
      }
   }
   &__text {
      @include adaptive-value($property: margin-bottom, $startSize: 42, $minSize: 7);
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;

      text-align: center;

      @media (max-width: $max-width-mobile) {
         span {
            display: inline-block;
            margin-bottom: 20px;

            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   }
   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin: 0 -20px;
   }
   &__item {
      flex-basis: 200px;

      @include adaptive-value($property: padding-top, $startSize: 39, $minSize: 39 * 0.63);
      @include adaptive-value($property: padding-left, $startSize: 29, $minSize: 29 * 0.63);
      @include adaptive-value($property: padding-right, $startSize: 29, $minSize: 29 * 0.63);
      @include adaptive-value($property: padding-bottom, $startSize: 33, $minSize: 33 * 0.63);
      margin: 0 20px 20px;
      padding: 39px 29px 33px;

      box-shadow: 0px 16px 20px 0px rgba(20, 27, 65, 0.03);
      border-radius: 10px;

      &::before {
         content: '';

         @include adaptive-value($property: margin-bottom, $startSize: 24, $minSize: 24 * 0.63);
         display: block;
         height: 60px;

         background-repeat: no-repeat;
         background-position: center center;
      }
      &:nth-child(1)::before {
         background-image: url(../images/partner/document-icon.svg);
      }
      &:nth-child(2)::before {
         background-image: url(../images/partner/calendar-icon.svg);
      }
      &:nth-child(3)::before {
         background-image: url(../images/partner/chat-icon.svg);
      }
      &:nth-child(4)::before {
         background-image: url(../images/partner/star-icon.svg);
      }
      &:nth-child(5)::before {
         background-image: url(../images/partner/wallet-icon.svg);
      }
   }
   &__item-text {
      @include adaptive-value($property: font-size, $startSize: 16, $minSize: 14);
      font-weight: 300;
      line-height: 140%;
      text-align: center;
      color: $font-blue-color;
   }
}