.top-block {
   @include positioning-center-section;

   background-image: url(../images/top-block/illustration.png);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: 50% auto;

   @media (max-width: 1250px) {
      background-position:center bottom;
      background-size: 70% auto;
   }
   @media (max-width: $max-width-tablet) {
      background-size: 85% auto;
   }
   @media (max-width: $max-width-mobile) {
      background-image: url(../images/top-block/illustration-mobile.png);
      background-size: 100% auto;
   }

   &__inner{
      @include adaptive-value($property:padding-top, $startSize:124, $minSize:37);
      @include adaptive-value($property:padding-bottom, $startSize:197, $minSize:59);
      @include reset-margin;

      min-height: 673px;
      padding-bottom: 197px;
      padding-right: 50%;

      @media (max-width: 1250px) {
         min-height: 0;
         padding-right: 0;
         padding-bottom: 99% * 0.7 + 4%;

         text-align: center;
      }
      @media (max-width: $max-width-tablet) {
         padding-bottom: 99% * 0.85 + 7%;
      }
      @media (max-width: $max-width-mobile) {
         padding-bottom: 93% + 10%;
      }
   }
   &__title{
      @include adaptive-value($property:font-size, $startSize:40, $minSize:21);

      display: inline-block;
      margin-bottom: 23px;

      line-height: 125%;
      color: $font-blue-color;

      @media (max-width: 1250px) {
         position: relative;

         margin-bottom: 23px + 22px + 17px;

         max-width: 800px;
         margin-left: auto;
         margin-right: auto;
      }
      @media (max-width: $max-width-mobile) {
         margin-bottom: 8px + 22px + 26px;
      }

      &::after {
         content: "";

         display: inline-block;
         height: 24px;
         width: 102px;
         margin-left: 15px;

         background-image: url(../images/top-block/arrow-big.svg);

         @media (max-width: 1250px) {
            position: absolute;
            top: calc(100% + 8px);
            left: calc(50% - 12px);

            height: 22px;
            width: 24px;
            margin-left: 0;
            margin-top: 10px;

            background-image: url(../images/top-block/arrow-small.svg);
         }
      }
   }
   &__text {
      @include adaptive-value($property:font-size, $startSize:24, $minSize:16);

      margin-bottom: 52px;

      font-weight: 300;
      line-height: 140%;
      color: $font-gray-color;

      @media (max-width: 1250px) {
         max-width: 650px;
         margin-left: auto;
         margin-right: auto;
      }
      @media (max-width: $max-width-mobile) {
         margin-bottom: 25px;
      }
   }
}
