// ###### Миксины ######

@mixin reset-margin {
   & > *:last-child {
      margin-bottom: 0 !important;
   }
}

@mixin adaptive-value($property, $startSize, $minSize) {
   $addSize: $startSize - $minSize;

   // Прописать сюда, ниже, сумму ширины контейнера и его внутренних отступов побокам в виде числа.
   $maxWidthContainer: 1210;

   #{$property}: #{$startSize + px};

   @media (max-width: #{$maxWidthContainer + px}) {
      // Прописать сюда, ниже, вместо 320 значение минимальной ширины body из переменной $min-container-width в виде числа.
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
   }
}

@mixin overlay() {
   background-color: rgba($color: #000000, $alpha: .6);
   opacity: 1;
}

// ###### / Миксины ######



// ###### Переиспользуемые БЭМ блоки ######

.btn {
   @include adaptive-value($property:font-size, $startSize:18, $minSize:16);
   @include adaptive-value($property:min-height, $startSize:60, $minSize:50);
   @include adaptive-value($property:padding-left, $startSize:51, $minSize:26);
   @include adaptive-value($property:padding-right, $startSize:51, $minSize:26);

   display: inline-flex;
   align-items: center;

   padding-top: 5px;
   padding-bottom: 5px;

   font-weight: 500;
   line-height: 140%;
   color: #EEEEEE;

   background-color: #446DF6;
   border-radius: 6px;
}

.text {
   @include adaptive-value($property:font-size, $startSize:18, $minSize:14);

   font-weight: 300;
   line-height: 140%;
   color: $font-gray-color;
}

.main-btn {
   display: inline-flex;
   align-items: center;

   min-height: 50px;
   padding: 5px 23px;

   font-family: inherit;
   font-size: 16px;
   line-height: 140%;

   border-radius: 6px;
   border: 1px solid #E9ECF5;

   &--header {
      color: #446DF6;

      background-color: #ffffff;

      @media (max-width: $burger-screen-width) {
         color: #ffffff;

         background-color: #446DF6;
         border: none;
      }
   }
   &--footer {
      color: #E9ECF5;
   }
}

// ###### / Переиспользуемые БЭМ блоки ######